@model IEnumerable<MVC01.Models.VehiculoModel>

@{
    ViewBag.Title = "FindByMarcaAndSerie";
}

<h2>FindByMarcaAndSerie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <form method="get">
        <table>
            <tr>
                <td>

                    @Html.DropDownList("idMarca", ViewBag.MarcasDropDown as SelectList, "Selecciona una marca...", new { @class="form-control", onchange = "this.form.submit()" })
                </td>
                <td>

                    @Html.DropDownList("idSerie", ViewBag.SeriesByMarcaDropDown as SelectList, "Selecciona una serie...", new { @class = "form-control", onchange = "this.form.submit()" })
                </td>
            </tr>
        </table>
    </form>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serie.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
