@model IEnumerable<PracticaExamenEscuela.Models.Etapas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
  @Html.ActionLink("ListEtapasCurso", "ListEtapasCurso")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Acronimo")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Acronimo, "CursosEtapa", "Curso",  new {etapaID=item.ID}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
